@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter",sans-serif;
}
body{
    max-width: 100vw;
    background-color: #f6f9ff;

}
.navbar{
    background-color: #f6f9ff;
}
.container-fluid {
    color: #113F67;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
   
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}
.nav-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
}
.nav-brand h1{
    font-weight: bold;
}
.nav-brand img{
    width: 25%;
    height: 10%;
    margin-right: 1rem;
}

.nav-list{
    display: flex;
    flex-direction: row;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin-right: 2rem;
}
.dropdown-toggle{
    padding: 12px;
    background-color: #f6f9ff;
    border: 1px solid #002982;
    cursor: pointer;
    color: #002982;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.dropdown-toggle::after {
    content: "▼"; /* Unicode for the down arrow icon */
    font-size: 12px;
  }
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Display the dropdown on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
.nav-list li {
    display: inline;
    list-style-type: none;
    margin-left: 3rem;
    padding-left: 2rem;
}

li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
}

.nav-list li a{
    text-decoration: none;
    color: #002982;
    font-weight:500;
    font-size: 1.2rem;
}

/* Content CTA */
.hero{
    height: 40rem;
    display: flex;
    flex-direction: row;    
    background-color: #f6f9ff;

}
.content{
    padding: 5rem;
    width: 60%;
    
}
.img-content{
    margin-top: 4rem;
    margin-left: 6rem;
    height:50%;
}
.hero .content h1{
    font-size: 3.5rem;
    font-weight: bolder;
    color:#002982;
    margin: 0;
}
.hero .content h1 span{
    color: #018BFA
}
.hero .content h2{
    font-size: 1.3rem;
    font-weight:normal;
    margin-left: 0.5rem;
    
}
.hero .content .btn{
   width:11rem;
   height: 4rem;
   margin-left: 0.5rem;
   background-color: #018BFA;
   border: none;
   margin-top: 1rem;
   font-size: 1.5rem;
   color: white;
}

.search-input::placeholder {
    color: white;
    /* Placeholder text color */
}

/* Content Bootcamp */


#course-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Positioning the circles to stack */


#course-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bootcamp{
    font-size: 3rem;
    color: #002982;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.bootcamp-container .row{
    margin:0.5rem 10rem 0 0;
    width: 100%;
}
.card{
    width: 300px;
    height: 320px;
    background-color: #002982;
    border-radius: 10px;
    margin: 12px 20px;
}
.card-img-top{
   border-radius: 10px;
   width: 100%;
   height: 190px;
}

.card-body{
    padding:1rem;  
    color: white;
    font-weight:600;
}

.date-container{
    display: flex;
    margin-top: 1rem;
}
.card-body .date-card{
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight:300;
 
}
.card-body img{
    height: 1.4rem;
}
/* Footer */
/* Footer */
footer{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 5rem;
   

}
.container-content-footer{
    display: flex;
    flex-direction: row;
    padding: 0rem 12rem 0rem;   
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    
    
}
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.container-logo {
    width: 20%;
    

}
.container-logo img{
    margin-top: 1rem;
    width: 70%;
}
.container-footer{
    color: #002982;
    font-size: 2rem;
    margin-left: 20rem;
    
    
    
}
.container-list{
    margin-top: 1rem;
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    
    
    
}
.Support, .Socials{
   
    padding-left: 6rem;
}
.content-socials li, .content-support li, .content-about li{
    padding-top: 1rem;
}
footer hr{
    width: 95%;
    border: 1px solid #002982;
    margin-left: 2rem;
}
.container-copyright{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.copyright{
    display: flex;
    flex-direction: row;
    padding: 0rem 3rem 0rem;
    align-items: center;
    justify-content: center;
}
.copyright p{
    margin-left: 2rem;
    font-size: 1rem;
    color: #002982;
    
}
.copyright span p{
    margin-left: 8rem;
}
.back-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
}
.back-top p{
    font-size: 1rem;
    
}
.back-top img{
    width: 10%;
    margin-left: 0rem;
    
    
}



/* Desktop */
@media (max-width: 1280px) {
    body{
        width: 100vw;
        box-sizing:content-box;
    }
    .nav {
        padding: 10px 40px;
        width: 100vw;
        background-color: #113F67;
    }

    .hero .content h1 {
        font-size: 50px;
    }

    .container-bootcamp {
        margin: 5px 50px;
    }
    
    .card-bootcamp {
        width: 250px;
        height: 250px;
    }
    .container-list{
        width: 100%;
    }

    .nav .navbar-menu li {
        margin-left: 20px;
    }
    .img-content{
        width: 50%;
    }
}

/* Mobile (below 768px) */
@media (max-width: 768px) {
    
    .nav-brand{
        margin-left: 0rem;
        width: 50%;
        padding-left: 1rem;
    }
    .nav-brand img{
        width: 20%;
        height: 7%;
    }
    .nav-brand h1{
        margin-left: 0rem;
        margin-top: 0.5rem;
    }
    /* Display the hamburger icon */
    .hamburger {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 2rem;
        color: #113F67;
    }
    .nav-menu .nav-list{
        margin-left: -3rem;
    }
    .nav-menu {
        
        position: fixed;
        top: 0;
         /* Start the sidebar off-screen */
        width: 80%; /* Full viewport width */
        right: -100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #113F67;
        color: #fff;
        transition: right 0.3s ease; /* Smooth slide-in effect */
        z-index: 100;
       
    }

    .nav-menu.active {
        right: 0; /* Slide in from the right */
    }

    /* Style for Nav List in Sidebar */
    .nav-menu .nav-list  {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        justify-content: center;
        
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        margin-top: 15rem;
        justify-content: center;
    }
    .nav-list li {
        width: 100%;
        margin:  0;
        text-align: center;
        padding: 0rem;
    }

    .nav-list a {

        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1rem;
        display: block;
        width: 100%;
    }

    .nav-list a:hover {
        background-color: #0b2e4f;
    }
    .nav-menu .nav-button{
        margin-left: 3rem;
    }

    /* Style for Buttons in Sidebar */
    .nav-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .nav-button button {
        width: 12rem; /* Make buttons smaller to fit within the sidebar */
        margin: 0.5rem 0;
        padding: 0.8rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        text-align: center;
    }
    .btnLogin {
        font-weight: bold;
        background-color: #113F67;
        margin-top: -1rem;
    }

    .btnSignup {
        font-weight: bold;
    }

    .nav-button a {
        text-decoration: none;
        color: white;
     
    }

    .hero{
        height: 25rem;
    }
    .hero .content{
        padding: 3rem 2rem 2rem;
        width: 120%;
    }
    .content-image{
        display: none;
    }
    .hero .content h1 {
        font-size: 4rem;
    }
    .content #cta{
        margin-top: 1rem;
    }
    .hero .content .btn{
        margin-left: 0rem;
        width: 7rem;
        height: 3rem;
        font-size: 1rem;
    }
    .hero .content h2{
        margin-left: 0rem;
        margin-top: 1rem;
    }
    #bootcamp{
        margin-top: 3rem;
        font-size: 2rem;
    }
    .content-container .row{
        margin-right: 0;
    }
    .dropdown{
        margin-top: 1rem;
    }
    .dropdown-menu a{
        color: #002982;
    }
    
    
    footer{
        margin-top: 3rem;
        padding-left: 0rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
    footer span p{
        padding-top: 2rem;
        
    }

}
@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
}

/* Smaller Mobile (below 480px) */
@media (max-width: 480px) {
    .nav {
        padding: 10px;
    }

    .hero .content h1 {
        font-size: 28px;
    }

    .hero .content h2 {
        font-size: 16px;
    }

    .card-bootcamp {
        width: 100%;
        height: auto;
    }

    .nav .navbar-menu li {
        font-size: 16px;
    }

    .nav .navbar-menu li .btnLogin, .nav .navbar-menu li .btnEnroll {
        width: 150px;
        height: 40px;
    }
}
/* Tablet */